SERVER_PORT=8000
DJANGO_SETTINGS_MODULE=server.settings
DATABASE_HOST=5432
CLIENT_PORT=3000

DATABASE_NAME=money_wasted
DATABASE_USER=money_wasted
DATABASE_PASSWORD=money_wasted
DATABASE_HOST=money_database
DATABASE_PORT=5432